@charset 'UTF-8';

@use 'foundation';

body {
	background: url('../images/bg_bubble_KARI.svg') no-repeat fixed,
	url('../images/bg-png8-w_KARI.webp') no-repeat fixed;
}
@include foundation.mediaMobile {
		body {
			background-position: -65vw calc(100vh - 28vh), left top;
			background-size: 170vw, 100vh;
			}
		};

	@include foundation.mediaDesktop {
		body {
			background-position: 4.7vw -1vw, left top;
			background-size: 84vw, 60.9vw;
			}
		};


		.l-global__logo {
			display: none;
		}

		@include foundation.mediaMobile {
			.l-global__logo {
				display: block;
		position: fixed;
			left: 3vw;
			top: 3vw;
			z-index: calc( var(--z-index_nav-global) - 10 );
			}
			.l-global-logo__image {
				img {
					width: 20.8vw;
					height: 20.8vw;
				}
			}
		}

/*
 * navi-global
 * -------------------------------------------------------------------
 */
.l-nav-global {
	background-color: rgba($color: #f7f4ed, $alpha: .6);
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: var(--z-index_nav-global);
	&__menu {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-family: var(--font-family_Klee);
		font-feature-settings: 'palt';
		font-weight: normal;
		height: 100%;
		justify-content: center;
	}
	&__item {
		&-order {
			border-radius: 50%;
			color: #fff;
			filter: drop-shadow(1px 1px 2px rgba(209,193,166,1));
			&::after {
			// @include foundation.svgBgImage($color: #fff, $svg: '../images/bg_arrow.svg', $top: calc(-52% + 3.5vh));
			@include foundation.svgBgImage($color: #fff, $svg: '../images/bg_arrow.svg', $top: calc(-52% + 3.5vh));
			}
		}
	}
	&__link {
		&-order {
			text-align: center;
			&::before {
				// background-color: #ff931e;
				// background:linear-gradient(180deg, rgb(184, 147, 164) 0%, rgba(189, 153, 170, 0.87) 15%, rgba(204, 173, 188, 0.35) 60%, rgba(209, 180, 194, 0) 100%);
				background: linear-gradient(-10deg, rgba(255, 181, 99, 1) 3.16%, rgba(255, 180, 97, 1) 3.59%, rgba(255, 166, 68, 1) 13.03%, rgba(255, 155, 47, 1) 22.37%, rgba(255, 149, 34, 1) 31.48%, rgba(255, 147, 30, 1) 40.09%);
				border-radius: 50%;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transform: translateY(calc(-52% + 3.5vh));
				width: 100%;
				}
			span {
				position: absolute;
				}
			&::after {
				@include foundation.svgBgImage ( $color: #fcf8bd, $svg: '../images/bg_3line.svg');
				}
			}
		}
	}

	// DTでこう 09-25
// 	.l-nav-global__menu {
//     column-gap: 5vw;
//     margin-left: 30px;
// }


	@include foundation.mediaMobile {
		.l-nav-global {
			height: 10.65vw;
			&__item {
				padding: 0 1.6vw;
				&-order {
					position: absolute;
					height: 18vw;
					right: 3vw;
					width: 18vw;
					bottom: 6vw;
					&::after { // position: center calc(100% - calc(width / 2)
						@include foundation.svgBgImage($position: center calc(100% - calc(2.4vw / 2)), $left: calc(50% - 1.2vw), $width: 2.4vw);
					}
				}
			}
			&__link {
				font-size: 3.1vw;
				&-order {
					font-size: 3.6vw;
					span {
						&:nth-of-type(1) {
							transform: translate(2.2vw, 4.2vw)
							rotate(-8.3deg);
							}
						&:nth-of-type(2) {
							transform: translate(5.4vw, 3vw)
							rotate(-4deg);
							}
						&:nth-of-type(3) {
							transform: translate(9.2vw, 2.4vw);
							}
						&:nth-of-type(4) {
							transform: translate(13vw, 4vw)
							rotate(8.3deg);
							}
						}
						&::after {
							@include foundation.svgBgImage ( $height: 2.5vw, $left: 2.2vw, $top: 1.2vw, $width: 2.5vw );
							}
				}
			}
		}
		.home-nav-global:not(.scrolled, .animated) .l-nav-global__link {
			font-size: var(--font-size_home-nav-global_Desktop);
		}
		.home-nav-global:not(.scrolled, .animated) .l-nav-global__menu {
			column-gap: var(--c-gap_home-nav-global_Desktop);
		}
			.scrolled:not(.animated, .home-nav-global) .l-nav-global__link {
				animation: nav-global_fade__link .5s forwards;
			}
			.scrolled:not(.animated, .home-nav-global) .l-nav-global__menu {
				animation: nav-global_fade__menu .5s forwards;
			}
			.animated:not(.home-nav-global) .l-nav-global__link {
				font-size: var(--font-size_nav-global_Desktop);
			}
			.animated:not(.home-nav-global) .l-nav-global__menu {
				column-gap: var(--c-gap_nav-global_Desktop);
			}
			.home-nav-global.scrolled .l-nav-global__link {
				animation: nav-global_fade__link .3s reverse;
			}
			.home-nav-global.scrolled .l-nav-global__menu {
				animation: nav-global_fade__menu .3s reverse;
			}

			@keyframes nav-global_fade__link {
				0% {
					font-size: var(--font-size_home-nav-global_Desktop);
				}

				100% {
					font-size: var(--font-size_nav-global_Desktop);
				}
			}

			@keyframes nav-global_fade__menu {
				0% {
					column-gap: var(--c-gap_home-nav-global_Desktop);
				}

				100% {
					column-gap: var(--c-gap_nav-global_Desktop);
				}
			}
	}

	@include foundation.mediaDesktop {
		.l-nav-global {
			height: 7vh;
			&__menu {
    margin-left: 30px;
			}
			&__item {
				// padding: 0 2.6vw;
				&-order {
					position: relative;
					height: 10vw;
					right: 0;
					width: 10vw;
					&::after {
						// @include foundation.svgBgImage($position: center calc(100% - 1.8vh), $left: calc(50% - .6vw), $width: 1.2vw);
						@include foundation.svgBgImage($position: center calc(100% - calc(1.2vw / 2)), $left: calc(50% - .6vw), $width: 1.2vw);
						}
				}
			}
			&__link {
				// font-size: 1.4vw;
				&-order {
				font-size: 2vw;
				span {
					&:nth-of-type(1) {
						transform: translate(1.4vw, .65vw)
						rotate(-8.3deg);
						}
					&:nth-of-type(2) {
						transform: translate(3vw, .15vw)
						rotate(-4deg);
						}
					&:nth-of-type(3) {
						transform: translate(4.9vw, -.2vw);
						}
					&:nth-of-type(4) {
						transform: translate(6.9vw, .5vw)
						rotate(8.3deg);//
						}
					}
					&::after {
						@include foundation.svgBgImage ( $height: 1.3vw, $left: .7vw, $top: 0, $width: 1.3vw );
						}
				}
			}

			.home-nav-global:not(.scrolled, .animated) .l-nav-global__link {
				font-size: var(--font-size_home-nav-global_Desktop);
			}
			.home-nav-global:not(.scrolled, .animated) .l-nav-global__menu {
				column-gap: var(--c-gap_home-nav-global_Desktop);
			}
				.scrolled:not(.animated, .home-nav-global) .l-nav-global__link {
					animation: nav-global_fade__link .5s forwards;
				}
				.scrolled:not(.animated, .home-nav-global) .l-nav-global__menu {
					animation: nav-global_fade__menu .5s forwards;
				}
				.animated:not(.home-nav-global) .l-nav-global__link {
					font-size: var(--font-size_nav-global_Desktop);
				}
				.animated:not(.home-nav-global) .l-nav-global__menu {
					column-gap: var(--c-gap_nav-global_Desktop);
				}
				.home-nav-global.scrolled .l-nav-global__link {
					animation: nav-global_fade__link .3s reverse;
				}
				.home-nav-global.scrolled .l-nav-global__menu {
					animation: nav-global_fade__menu .3s reverse;
				}

				@keyframes nav-global_fade__link {
					0% {
						font-size: var(--font-size_home-nav-global_Desktop);
					}

					100% {
						font-size: var(--font-size_nav-global_Desktop);
					}
				}

				@keyframes nav-global_fade__menu {
					0% {
						column-gap: var(--c-gap_home-nav-global_Desktop);
					}

					100% {
						column-gap: var(--c-gap_nav-global_Desktop);
					}
				}
			// .animated.scrolled .l-nav-global__item {
			// 	font-size: 1vw;
			// }
			// .animated.scrolled .l-nav-global__link {
			// 	padding: 0 3.338vw;
			// } // 09-26
		}
	}