@charset 'UTF-8';

@use 'foundation';


/*
 * navi-global
 * -------------------------------------------------------------------
 */
.l-nav-global {
	background-color: rgba($color: #f7f4ed, $alpha: .6);
	bottom: 0;
	height: 7vh;
	position: fixed;
	width: 100%;
	z-index: var(--z-index_nav-global);
	&__menu {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-family: var(--font-family_Klee);
		font-feature-settings: 'palt';
		font-weight: normal;
		height: 100%;
		justify-content: center;
		&-item {
			padding: 0 2.6vw;
			}
		&-order {
			border-radius: 50%;
			color: #fff;
			filter: drop-shadow(1px 1px 2px rgba(209,193,166,1));
			height: 10vw;
			position: relative;
			right: 0;
			width: 10vw;
			&::after {
				@include foundation.svgBgImage(#fff, calc(50%), '../images/bg_arrow.svg', center calc(100% - 1.8vh), -.6vw, calc(-52% + 3.5vh), 1.2vw);
				}
			}
		}
	&__link {
		font-size: 1.4vw;
		&-order {
			font-size: 2vw;
			text-align: center;
			&::before {
				// background-color: #ff931e;
				// background:linear-gradient(180deg, rgb(184, 147, 164) 0%, rgba(189, 153, 170, 0.87) 15%, rgba(204, 173, 188, 0.35) 60%, rgba(209, 180, 194, 0) 100%);
				background: linear-gradient(-10deg, rgba(255, 181, 99, 1) 3.16%, rgba(255, 180, 97, 1) 3.59%, rgba(255, 166, 68, 1) 13.03%, rgba(255, 155, 47, 1) 22.37%, rgba(255, 149, 34, 1) 31.48%, rgba(255, 147, 30, 1) 40.09%);
				border-radius: 50%;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transform: translateY(calc(-52% + 3.5vh));
				width: 100%;
				}
			span {
				position: absolute;
				&:nth-of-type(1) {
					transform: translate(1.4vw, .65vw)
					rotate(-8.3deg);
					}
				&:nth-of-type(2) {
					transform: translate(3vw, .15vw)
					rotate(-4deg);
					}
				&:nth-of-type(3) {
					transform: translate(4.9vw, -.2vw);
					}
				&:nth-of-type(4) {
					transform: translate(6.9vw, .5vw)
					rotate(8.3deg);
					}
				}
			&::after {
				background-color: #fcf8bd;
				content: '';
				display: block;
				height: 1.3vw;
				mask: url('../images/bg_3line.svg');
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: contain;
				position: absolute;
				transform: translate(.7vw, 0vw);
				width: 1.3vw;
				}
			}
		}
	}
