@charset 'UTF-8';

@use 'foundation';


/*
 * Home
 * -------------------------------------------------------------------
 */

.p-home {
	background: url('../images/bg_bubble_KARI.svg') 4.7vw -1vw no-repeat fixed,
	url('../images/bg-png8-w_KARI.webp') left top no-repeat fixed;
	background-size: 84vw, 60.9vw;
	height: 100vh;
	position: relative;
	}


.p-home-main-copy {
	position: relative;
	z-index: calc( var(--z-index_nav-global) - 1 );
	&__title {
		left: 18.8vw;
		position: absolute;
		top: 24.3vw;
		}
	&__text {
		left: 150px;
		position: absolute;
		top: 134px;
		&::after {
			background-color: #fcf8bd;
			bottom: 0;
			content: '';
			display: block;
			height: 8vw;
			mask: url('../images/bg_illust_wine.svg');
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			position: absolute;
			transform: translate(0vw, 10vw);
			width: 8vw;
			}
		&-main {
			background: url('../images/bg_line_KARI.svg') center calc(100%) no-repeat;
			background-size: calc(100% - 40px);
			color: #fff;
			display: inline-block;
			font-family: var(--font-family_Klee);
			font-feature-settings: 'palt';
			font-weight: normal;
			letter-spacing: -.1em;
			padding-bottom: 10px;
			width: fit-content;
			&::before {
				background-color: rgba($color: #b2dec9, $alpha: .2);
				content: '';
				display: block;
				height: 60px;
				mix-blend-mode: multiply;
				position: absolute;
				top: 4px;
				transform: rotate(-1.5deg);
				width: calc(100% - 52px);
				}
			span {
				display: inline-block;
				// filter: drop-shadow(1px 1px 2px rgba(209,193,166,1));
				text-shadow: 1px 1px 6px rgba(209,193,166,.4), 0 0 10px rgb(253, 242, 184, .6);
				&:nth-of-type(1),
				&:nth-of-type(6),
				&:nth-of-type(10) {
					font-size: 48px;
					}
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(7),
				&:nth-of-type(8),
				&:nth-of-type(9) {
					font-size: 66px;
					}
				&:nth-of-type(1) {
					transform: translate(-6px, -18px)
					rotate(-3.6deg);
					}
				&:nth-of-type(2) {
					transform: translate(4px, -1px)
					rotate(-11.8deg);
					}
				&:nth-of-type(3) {
					transform: translate(-1px, -10px)
					rotate(-7.9deg);
					}
				&:nth-of-type(4) {
					transform: translate(-1px, -18px)
					rotate(-5.9deg);
					}
				&:nth-of-type(5) {
					transform: translate(-8px, -22px)
					rotate(-1.7deg);
					}
				&:nth-of-type(6) {
					transform: translate(-10px, -16px)
					rotate(0deg);
					}
				&:nth-of-type(7) {
					transform: translate(-14px, -14px)
					rotate(0deg);
					}
				&:nth-of-type(8) {
					transform: translate(-20px, -6px)
					rotate(0deg);
					}
				&:nth-of-type(9) {
					transform: translate(-22px, -18px)
					rotate(0deg);
					}
				&:nth-of-type(10) {
					transform: translate(-12px, -3px)
					rotate(0deg);
					}
				}
			}
		&-sub1 {
			color: #fff;
			display: inline-block;
			font-family: var(--font-family_serif);
			font-size: 38px;
			transform: translate(-10px, -18px)
			rotate(0deg);
			}
		&-sub2 {
			background-color: rgba($color: #ff931e, $alpha: .7);
			color: #fff;
			display: block;
			font-family: var(--font-family_serif);
			font-feature-settings: 'palt';
			font-size: 33px;
			letter-spacing: .2em;
			line-height: 1;
			padding-left: 2px;
			padding-top: 3px;
			width: fit-content;
			// font-weight: bold;　※これでW6になるので、何も指定なければW3。太いな…
			&:nth-of-type(2) {
				transform: translate(54px, 0px)
				rotate(-3.4deg);
				}
			&:nth-of-type(3) {
				transform: translate(215px, -8px)
				rotate(-3.4deg);
				span {
					display: inline-block;
					transform: translate(-.1em, 0);
					width: .35em;
					}
				}
			}
		}
	}

.p-home-main-visual {
	// width: 44.535vw; // padding必要ならこの値
	left: 52.7vw;
	position: absolute;
	top: 5.8vw;
	width: 39.85vw;
	// padding: 30px;
	&::before {
		background-color: rgba($color: #fcdebd, $alpha: .6);
		content: '';
		display: block;
		height: 41.4vw;
		position: absolute;
		transform: translate(-.8vw, -.8vw) rotate(-4deg);
		// top: 4px;
		width: 41.4vw;
		}
	&::after {
		background-color: #fcf8bd;
		content: '';
		display: block;
		height: 8vw;
		mask: url('../images/bg_illust_flower.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		position: absolute;
		top: 0;
		transform: translate(32.8vw, -2.3vw) scale( -1, 1) rotate(-25deg);
		width: 8vw;
		}
	&__photo {
		position: absolute;
		img {
			width: 100%;
			}
		&::after {
			background-color: #fcf8bd;
			bottom: 0;
			content: '';
			display: block;
			height: 11vw;
			left: 0;
			mask: url('../images/bg_illust_flower.svg');
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			position: absolute;
			transform: translate(-4vw, 2.2vw);
			width: 11vw;
			}
		}
	}


.p-scrolled {
	bottom: calc( 7vh + 20px);
	color: #ff931e;
	filter: drop-shadow(1px -1px .5px rgba(255,255,255,1));
	font-family: var(--font-family_serif);
	font-size: 1vw;
	left: calc( 14px + 10px + .8rem );
	padding-right: calc( 11vh + .4rem );
	position: fixed;
	transform: rotate(90deg);
	transform-origin: right bottom;
	// &::before {
	// 	display: inline-block;
	// 	color: #888;
	// 	// font-size: .8rem;
	// 	content: 'Scrolled';
	// 	vertical-align: middle;
	// 	transform: translateY(-20%);
	// 	animation: scrolled-text 6s cubic-bezier(.19,1,.22,1) infinite;
	// 	animation-fill-mode: both;
	// 	// filter: drop-shadow(.5px .5px .5px rgba(255,255,255,1)) drop-shadow(.5px .5px 1px rgba(255,255,255,.8)) drop-shadow(-.5px -.5px 1px rgba(255,255,255,.8)) drop-shadow(-.5px -.5px .5px rgba(255,255,255,1));
	// 	}
	&::after {
		animation: scrolled-line 6s cubic-bezier(.19,1,.22,1) .2s infinite;
		animation-fill-mode: both;
		background-color: #ff931e;
		content: '';
		display: inline-block;
		height: 1px;
		position: absolute;
		right: 0;
		top: calc(50% - 1px);
		transform-origin: right center;
		width: 11vh;
		// filter: drop-shadow(1px -1px .5px rgba(255,255,255,1));
		}
	}
