@charset 'UTF-8';

@use 'foundation';


/*
 * Home
 * -------------------------------------------------------------------
 */

.p-home {
	background: url('../images/bg_bubble_KARI.svg') no-repeat fixed,
	url('../images/bg-png8-w_KARI.webp') no-repeat fixed;
	height: 100vh;
	position: relative;
	}

@include foundation.mediaMobile {
	.p-home {
		background-position: -65vw calc(100vh - 28vh), left top;
		background-size: 170vw, 100vh;
		}
	};

@include foundation.mediaDesktop {
	.p-home {
		background-position: 4.7vw -1vw, left top;
		background-size: 84vw, 60.9vw;
		}
	};


.p-home-main-copy {
	position: relative;
	z-index: calc( var(--z-index_nav-global) - 1 );
	&__title {
		position: absolute;
		}
	&__text {
		position: absolute;
		&::after {
			@include foundation.svgBgImage ( $color: #fcf8bd, $svg: '../images/bg_illust_wine.svg');
			}
		}
	&__main {
		background: url('../images/bg_line_KARI.svg') center calc(100%) no-repeat;
		background-size: calc(100% - 40px);
		color: #fff;
		display: inline-block;
		font-family: var(--font-family_Klee);
		font-feature-settings: 'palt';
		font-weight: normal;
		width: fit-content;
		&::before {
			background-color: rgba($color: #b2dec9, $alpha: .2);
			content: '';
			display: block;
			mix-blend-mode: multiply;
			position: absolute;
			transform: rotate(-1.5deg);
			width: calc(100% - 52px);
			}
		span {
			display: inline-block;
			text-shadow: 1px 1px 6px rgba(209,193,166,.4), 0 0 10px rgb(253, 242, 184, .6);
			&:nth-of-type(1) {
				transform: translate(-6px, -18px)
				rotate(-3.6deg);
				}
			&:nth-of-type(2) {
				transform: translate(4px, -1px)
				rotate(-11.8deg);
				}
			&:nth-of-type(3) {
				transform: translate(-1px, -10px)
				rotate(-7.9deg);
				}
			&:nth-of-type(4) {
				transform: translate(-1px, -18px)
				rotate(-5.9deg);
				}
			&:nth-of-type(5) {
				transform: translate(-8px, -22px)
				rotate(-1.7deg);
				}
			&:nth-of-type(6) {
				transform: translate(-10px, -16px)
				rotate(0deg);
				}
			&:nth-of-type(7) {
				transform: translate(-14px, -14px)
				rotate(0deg);
				}
			&:nth-of-type(8) {
				transform: translate(-20px, -6px)
				rotate(0deg);
				}
			&:nth-of-type(9) {
				transform: translate(-22px, -18px)
				rotate(0deg);
				}
			&:nth-of-type(10) {
				transform: translate(-12px, -3px)
				rotate(0deg);
				}
			}
		}
	&__sub1 {
		color: #fff;
		display: inline-block;
		font-family: var(--font-family_serif);
		transform: translate(-10px, -18px)
		rotate(0deg);
		}
	&__sub2 {
		background-color: rgba($color: #ff931e, $alpha: .7);
		color: #fff;
		display: block;
		font-family: var(--font-family_serif);
		font-feature-settings: 'palt';
		letter-spacing: .2em;
		line-height: 1;
		padding-left: 2px;
		padding-top: 3px;
		width: fit-content;
		// font-weight: bold;　※これでW6になるので、何も指定なければW3。太いな…
		&:nth-of-type(3) {
			span {
				display: inline-block;
				transform: translate(-.1em, 0);
				width: .35em;
				}
			}
		}
	}

@include foundation.mediaMobile {
	.p-home-main-copy {
		&__title {
			left: 2.5vw;
			top: 2.5vw;
			}
		&__logo {
			width: 50vw;
			}
		&__text {
			left: 12vw;
			top: 65vh;
			&::after {
				height: calc(11.6vw * 1.3 );
				transform: translate(75vw, -17vw);
				width: 11.6vw;
				}
			}
		&__main {
			&::before {
				height: 10vw;
				}
			span {
				&:nth-of-type(1),
				&:nth-of-type(6),
				&:nth-of-type(10) {
					font-size: 8vw;
					}
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(7),
				&:nth-of-type(8),
				&:nth-of-type(9) {
					font-size: 11vw;
					}
				}
			}
		&__sub1 {
			font-size: 7vw;
			}
		&__sub2 {
			font-size: 6.5vw;
			&:nth-of-type(2) {
				transform: translate(8.5vw, 3vw)
				rotate(-3.4deg);
				}
			&:nth-of-type(3) {
				transform: translate(22vw, 4vw)
				rotate(-3.4deg);
				}
			}
		}
	};

@include foundation.mediaDesktop {
	.p-home-main-copy {
		&__title {
			left: 18.8vw;
			top: 24.3vw;
			}
		&__text {
			left: 150px;
			top: 134px;
			&::after {
				height: calc(6.1vw * 1.3 );
				transform: translate(1vw, 2vw);
				width: 6.1vw;
				}
			}
		&__main {
			letter-spacing: -.1em;
			padding-bottom: 10px;
			&::before {
				height: 60px;
				top: 4px;
				}
			span {
				&:nth-of-type(1),
				&:nth-of-type(6),
				&:nth-of-type(10) {
					font-size: 48px;
					}
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(7),
				&:nth-of-type(8),
				&:nth-of-type(9) {
					font-size: 66px;
					}
				}
			}
		&__sub1 {
			font-size: 38px;
			}
		&__sub2 {
			font-size: 33px;
			&:nth-of-type(2) {
				transform: translate(54px, 0px)
				rotate(-3.4deg);
				}
			&:nth-of-type(3) {
				transform: translate(215px, -8px)
				rotate(-3.4deg);
				}
			}
		}
	};

.p-home-main-visual {
	position: absolute;
	top: 0;
	&::before {
		background-color: rgba($color: #fcdebd, $alpha: .6);
		content: '';
		display: block;
		position: absolute;
		// top: 4px;
		}
	&__photo {
		position: relative;
		img {
			height: 100%;
			}
		&::after {
			@include foundation.svgBgImage ( $color: #fcf8bd, $svg: '../images/bg_illust_flower.svg', $position: center);
			height: calc(9vw * 1.209);
			width: 9vw;
			}
		}
	}

@include foundation.mediaMobile {
	.p-home-main-visual {
		height: 80vh;
		overflow: hidden;
		width: 100vw;
		&::before {
			height: 100%;
			height: 75vh;
			transform: translate(7vw, -3vw) scale(105%) rotate(2.8deg);
			width: 93vw;
			}
		&__photo {
			height: 100%;
			height: 75vh;
			left: 7vw;
			overflow: hidden; // これだけだと、オレンジ矩形が表示されないかも　これないとbodyの背景が小さくなる
			position: absolute;
			width: 93vw;
			&::after {
				transform: translate(-4vw, -18vh) scale(1, -1) rotate(192deg);
				}
			}

		}
	}

@include foundation.mediaDesktop {
	.p-home-main-visual {
		height: 39.85vw;
		// width: 44.535vw; // padding必要ならこの値
		left: 52.7vw;
		position: absolute;
		top: 5.8vw;
		width: 39.85vw;
		// padding: 30px;
		&::before {
			height: 41.4vw;
			transform: translate(-.8vw, -.8vw) rotate(-4deg);
			width: 41.4vw;
			}
		&::after {
			@include foundation.svgBgImage ( $color: #fcf8bd, $svg: '../images/bg_illust_flower.svg', $position: center);
			height: calc(6.5vw * 1.209);
			transform: translate(33.5vw, -42.25vw) scale( -1, 1) rotate(-25deg);
			width: 6.5vw;
			}
		&__photo {
			img {
				width: 100%;
				}
			&::after {
				transform: translate(-3vw, -9vw);
				}
			}
		}
	}


.p-scrolled {
	bottom: calc( 7vh + 20px);
	color: #ff931e;
	filter: drop-shadow(1px -1px .5px rgba(255,255,255,1));
	font-family: var(--font-family_serif);
	font-size: 1vw;
	left: calc( 14px + 10px + .8rem );
	padding-right: calc( 11vh + .4rem );
	position: fixed;
	transform: rotate(90deg);
	transform-origin: right bottom;
	// &::before {
	// 	display: inline-block;
	// 	color: #888;
	// 	// font-size: .8rem;
	// 	content: 'Scrolled';
	// 	vertical-align: middle;
	// 	transform: translateY(-20%);
	// 	animation: scrolled-text 6s cubic-bezier(.19,1,.22,1) infinite;
	// 	animation-fill-mode: both;
	// 	// filter: drop-shadow(.5px .5px .5px rgba(255,255,255,1)) drop-shadow(.5px .5px 1px rgba(255,255,255,.8)) drop-shadow(-.5px -.5px 1px rgba(255,255,255,.8)) drop-shadow(-.5px -.5px .5px rgba(255,255,255,1));
	// 	}
	&::after {
		animation: scrolled-line 6s cubic-bezier(.19,1,.22,1) .2s infinite;
		animation-fill-mode: both;
		background-color: #ff931e;
		content: '';
		display: inline-block;
		height: 1px;
		position: absolute;
		right: 0;
		top: calc(50% - 1px);
		transform-origin: right center;
		width: 11vh;
		// filter: drop-shadow(1px -1px .5px rgba(255,255,255,1));
		}
	}
