@charset 'UTF-8';

@use 'foundation';


/*
 * navi-global ここでいい？
 https://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html
 * -------------------------------------------------------------------
 */
.nav-global {
	&__menu {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
	}

}

/*
 * Home
 * -------------------------------------------------------------------
 */

.home {
	background: url('../img/黄円(仮).svg') 4.7vw -1vw no-repeat fixed,
	url('../img/bg-png8-w.webp') left top no-repeat fixed;
	background-size: 84vw, 60.9vw;
	position: relative;
	height: 100vh;
	}


.home-maincopy {
	&__title {
		position: absolute;
		left: 18.8vw;
		top: 24.3vw;
		}
	&__text {
		position: absolute;
		top: 134px;
		left: 150px;
		&-main {
			display: inline-block;
			color: #fff;
			width: fit-content;
			font-weight: normal;
			letter-spacing: -.1em;
			font-feature-settings: 'palt';
			font-family: var(--font-famiry_Klee);
			background: url('../img/アセット 10.svg') center calc(100%) no-repeat;
			background-size: calc(100% - 40px);
			padding-bottom: 10px;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 4px;
				width: calc(100% - 52px);
				height: 60px;
				transform: rotate(-1.5deg);
				background-color: rgba($color: #b2dec9, $alpha: .2);
				mix-blend-mode: multiply;
				}
			span {
				display: inline-block;
				// filter: drop-shadow(1px 1px 2px rgba(209,193,166,1));
				text-shadow: 1px 1px 6px rgba(209,193,166,.4), 0 0 10px rgb(253, 242, 184, .6);
				&:nth-of-type(1),
				&:nth-of-type(6),
				&:nth-of-type(10) {
					font-size: 48px;
					}
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(7),
				&:nth-of-type(8),
				&:nth-of-type(9) {
					font-size: 66px;
					}
				&:nth-of-type(1) {
					transform: translate(-6px, -18px)
					rotate(-3.6deg);
					}
				&:nth-of-type(2) {
					transform: translate(4px, -1px)
					rotate(-11.8deg);
					}
				&:nth-of-type(3) {
					transform: translate(-1px, -10px)
					rotate(-7.9deg);
					}
				&:nth-of-type(4) {
					transform: translate(-1px, -18px)
					rotate(-5.9deg);
					}
				&:nth-of-type(5) {
					transform: translate(-8px, -22px)
					rotate(-1.7deg);
					}
				&:nth-of-type(6) {
					transform: translate(-10px, -16px)
					rotate(0deg);
					}
				&:nth-of-type(7) {
					transform: translate(-14px, -14px)
					rotate(0deg);
					}
				&:nth-of-type(8) {
					transform: translate(-20px, -6px)
					rotate(0deg);
					}
				&:nth-of-type(9) {
					transform: translate(-22px, -18px)
					rotate(0deg);
					}
				&:nth-of-type(10) {
					transform: translate(-12px, -3px)
					rotate(0deg);
					}
				}
			}
		&-sub1 {
			color: #fff;
			font-size: 38px;
			font-family: var(--font-family_serif);
			display: inline-block;
			transform: translate(-10px, -18px)
			rotate(0deg);
			}
		&-sub2 {
			color: #fff;
			display: block;
			width: fit-content;
			background-color: rgba($color: #ff931e, $alpha: .7);
			font-size: 33px;
			font-family: var(--font-family_serif);
			font-feature-settings: 'palt';
			letter-spacing: .2em;
			padding-left: 2px;
			line-height: 1;
			padding-top: 3px;
			// font-weight: bold;　※これでW6になるので、何も指定なければW3。太いな…
			&:nth-of-type(2) {
				transform: translate(54px, 0px)
				rotate(-3.4deg);
				}
			&:nth-of-type(3) {
				transform: translate(215px, -8px)
				rotate(-3.4deg);
				span {
					display: inline-block;
					width: .35em;
					transform: translate(-.1em, 0);
					}
				}
			}
		}
	}

.home-mainvisual {
	position: absolute;
	width: 39.85vw;
	// width: 44.535vw; // padding必要ならこの値
	left: 52.7vw;
	top: 5.8vw;
	// padding: 30px;
	&::before {
		content: '';
		display: block;
		position: absolute;
		// top: 4px;
		width: 41.4vw;
		height: 41.4vw;
		transform: translate(-.8vw, -.8vw) rotate(-4deg);
		background-color: rgba($color: #fcdebd, $alpha: .6);
		z-index: 1;
		}
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		width: 8vw;
		height: 8vw;
		background: url('../img/アセット 50.svg') 0 0 no-repeat;
		transform: translate(32.8vw, -2.3vw) scale( -1, 1) rotate(-25deg);
		// z-indexはイラスト共通の定数にする
		z-index: 100;
		}
	&__photo {
		width: 100%;
		position: absolute;
		z-index: 10;
		&::after {
			content: '';
			display: block;
			position: absolute;
			// top: 4px;
			width: 10vw;
			height: 10vw;
			transform: translate(2.8vw, -10vw) rotate(-25deg);

			// mask-image: url('../img/cat.svg');
			// mask-size: contain;
			// mask-repeat: no-repeat;
			// mask-position: center;
			top: 0;
			left: 0;
			/* -webkit-mask: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate(-30.000000%2C%20-48.000000)%22%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate(30.000000%2C%2047.000000)%22%3E%3Cpolygon%20points%3D%2210%202.02604317%208.97396484%201%205.00003906%204.97385917%201.02613281%201%200%202.02604317%203.97402344%206.00009766%200%209.97395683%201.02603516%2011%205.00003906%207.02592598%208.97396484%2011%2010%209.97415214%206.02609375%206.00009766%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
							mask: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate(-30.000000%2C%20-48.000000)%22%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate(30.000000%2C%2047.000000)%22%3E%3Cpolygon%20points%3D%2210%202.02604317%208.97396484%201%205.00003906%204.97385917%201.02613281%201%200%202.02604317%203.97402344%206.00009766%200%209.97395683%201.02603516%2011%205.00003906%207.02592598%208.97396484%2011%2010%209.97415214%206.02609375%206.00009766%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'); ×のシェイプ。塗りをマスクに使用 */

			/* -webkit-mask: url('https://bloosh.jp/wp-content/themes/blooshcompany/img/cat.svg');
							mask: url('https://bloosh.jp/wp-content/themes/blooshcompany/img/cat.svg'); *//*NG*/

							mask: url('../x.svg');
							mask: url('../img/アセット 50.svg');
							mask-size: 20px;
							mask-position: 0 0;
			z-index: 1000;
			/* Remote Repositories でVSCodeで直接開いて保存 */

			/*変更したい色をここに書く*/
			background-color: pink;
			}
		}
	}
