@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

/* custom properties >>>>>>>>>> */
:root {
  --font-family_serif: "Times New Roman",
  "Hiragino Mincho ProN",
  "Hiragino Mincho Pro",
  "Yu Mincho";
  --font-family_sans-serif: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  --font-famiry_Klee: Klee,
  "Klee One",
  var(--font-family_serif);
  --root_font-size: 16; /* Desktop 本文フォントサイズ用変数 */
  --margin_contents-center: calc(calc(100vw - 980px) /2); /* Desktop コンテンツの左右margin (margin:autoを使用しない場合向け) */
}

/* <<<<<<<<<< custom properties */
/*
 * HTML
 * -------------------------------------------------------------------
 */
/* for Phones,Tablets */
@media (max-width: 979px) {
  html {
    font-size: 3.125vw;
  }
}
body {
  color: #717071;
  font-family: var(--font-family_sans-serif);
}

.JS_WEB-FONT { /**/ }

/*
 * navi-global ここでいい？
 https://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html
 * -------------------------------------------------------------------
 */
.nav-global {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  background-color: rgba(247, 244, 237, 0.6);
  z-index: 900;
}
.nav-global__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-feature-settings: "palt";
  font-family: var(--font-famiry_Klee);
  height: 100%;
}
.nav-global__menu-item {
  padding: 0 30px;
}
.nav-global__menu-order {
  color: #fff;
  position: relative;
  right: 0;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 2px rgb(209, 193, 166));
}
.nav-global__menu-order::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.2vw;
  height: 100%;
  -webkit-mask: url("../img/arrow.svg");
          mask: url("../img/arrow.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  z-index: 1000;
  background-color: #FCF8BD;
  transform: translateX(-1.2vh) translateY(calc(-52% + 3.5vh));
}
.nav-global__link-order {
  text-align: center;
  font-size: 2vw;
}
.nav-global__link-order::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff931e;
  transform: translateY(calc(-52% + 3.5vh));
}
.nav-global__link-order span {
  position: relative;
  z-index: 1000;
}
.nav-global__link-order::after {
  content: "";
  display: block;
  position: absolute;
  top: -10vw;
  width: 1vw;
  height: 1vw;
  -webkit-mask: url("../img/アセット 12.svg");
          mask: url("../img/アセット 12.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  z-index: 1000;
  background-color: #FCF8BD;
  transform: translate(0vw, 10vw);
}

.scrolled {
  position: fixed;
}

/*
 * Home
 * -------------------------------------------------------------------
 */
.home {
  background: url("../img/黄円(仮).svg") 4.7vw -1vw no-repeat fixed, url("../img/bg-png8-w.webp") left top no-repeat fixed;
  background-size: 84vw, 60.9vw;
  position: relative;
  height: 100vh;
}

.home-maincopy__title {
  position: absolute;
  left: 18.8vw;
  top: 24.3vw;
}
.home-maincopy__text {
  position: absolute;
  top: 134px;
  left: 150px;
}
.home-maincopy__text::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 8vw;
  height: 8vw;
  -webkit-mask: url("../img/アセット 6.svg");
          mask: url("../img/アセット 6.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  z-index: 1000;
  background-color: #FCF8BD;
  transform: translate(0vw, 10vw);
}
.home-maincopy__text-main {
  display: inline-block;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: normal;
  letter-spacing: -0.1em;
  font-feature-settings: "palt";
  font-family: var(--font-famiry_Klee);
  background: url("../img/アセット 10.svg") center 100% no-repeat;
  background-size: calc(100% - 40px);
  padding-bottom: 10px;
}
.home-maincopy__text-main::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  width: calc(100% - 52px);
  height: 60px;
  transform: rotate(-1.5deg);
  background-color: rgba(178, 222, 201, 0.2);
  mix-blend-mode: multiply;
}
.home-maincopy__text-main span {
  display: inline-block;
  text-shadow: 1px 1px 6px rgba(209, 193, 166, 0.4), 0 0 10px rgba(253, 242, 184, 0.6);
}
.home-maincopy__text-main span:nth-of-type(1), .home-maincopy__text-main span:nth-of-type(6), .home-maincopy__text-main span:nth-of-type(10) {
  font-size: 48px;
}
.home-maincopy__text-main span:nth-of-type(2), .home-maincopy__text-main span:nth-of-type(3), .home-maincopy__text-main span:nth-of-type(4), .home-maincopy__text-main span:nth-of-type(5), .home-maincopy__text-main span:nth-of-type(7), .home-maincopy__text-main span:nth-of-type(8), .home-maincopy__text-main span:nth-of-type(9) {
  font-size: 66px;
}
.home-maincopy__text-main span:nth-of-type(1) {
  transform: translate(-6px, -18px) rotate(-3.6deg);
}
.home-maincopy__text-main span:nth-of-type(2) {
  transform: translate(4px, -1px) rotate(-11.8deg);
}
.home-maincopy__text-main span:nth-of-type(3) {
  transform: translate(-1px, -10px) rotate(-7.9deg);
}
.home-maincopy__text-main span:nth-of-type(4) {
  transform: translate(-1px, -18px) rotate(-5.9deg);
}
.home-maincopy__text-main span:nth-of-type(5) {
  transform: translate(-8px, -22px) rotate(-1.7deg);
}
.home-maincopy__text-main span:nth-of-type(6) {
  transform: translate(-10px, -16px) rotate(0deg);
}
.home-maincopy__text-main span:nth-of-type(7) {
  transform: translate(-14px, -14px) rotate(0deg);
}
.home-maincopy__text-main span:nth-of-type(8) {
  transform: translate(-20px, -6px) rotate(0deg);
}
.home-maincopy__text-main span:nth-of-type(9) {
  transform: translate(-22px, -18px) rotate(0deg);
}
.home-maincopy__text-main span:nth-of-type(10) {
  transform: translate(-12px, -3px) rotate(0deg);
}
.home-maincopy__text-sub1 {
  color: #fff;
  font-size: 38px;
  font-family: var(--font-family_serif);
  display: inline-block;
  transform: translate(-10px, -18px) rotate(0deg);
}
.home-maincopy__text-sub2 {
  color: #fff;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 147, 30, 0.7);
  font-size: 33px;
  font-family: var(--font-family_serif);
  font-feature-settings: "palt";
  letter-spacing: 0.2em;
  padding-left: 2px;
  line-height: 1;
  padding-top: 3px;
}
.home-maincopy__text-sub2:nth-of-type(2) {
  transform: translate(54px, 0px) rotate(-3.4deg);
}
.home-maincopy__text-sub2:nth-of-type(3) {
  transform: translate(215px, -8px) rotate(-3.4deg);
}
.home-maincopy__text-sub2:nth-of-type(3) span {
  display: inline-block;
  width: 0.35em;
  transform: translate(-0.1em, 0);
}

.home-mainvisual {
  position: absolute;
  width: 39.85vw;
  left: 52.7vw;
  top: 5.8vw;
}
.home-mainvisual::before {
  content: "";
  display: block;
  position: absolute;
  width: 41.4vw;
  height: 41.4vw;
  transform: translate(-0.8vw, -0.8vw) rotate(-4deg);
  background-color: rgba(252, 222, 189, 0.6);
  z-index: 1;
}
.home-mainvisual::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 8vw;
  height: 8vw;
  -webkit-mask: url("../img/アセット 50.svg");
          mask: url("../img/アセット 50.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  z-index: 1000;
  background-color: #FCF8BD;
  transform: translate(32.8vw, -2.3vw) scale(-1, 1) rotate(-25deg);
}
.home-mainvisual__photo {
  position: absolute;
  z-index: 10;
}
.home-mainvisual__photo img {
  width: 100%;
}
.home-mainvisual__photo::after {
  content: "";
  display: block;
  position: absolute;
  width: 11vw;
  height: 11vw;
  transform: translate(-4vw, 2.2vw);
  bottom: 0;
  left: 0;
  -webkit-mask: url("../img/アセット 50.svg");
          mask: url("../img/アセット 50.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  z-index: 1000;
  background-color: #FCF8BD;
}